/*
 Theme Name:     WSU Labs
 Theme URI:      http://web.wsu.edu
 Description:    Highlighting work at labs.wsu.edu
 Author:         WSU University Communications
 Author URI:     http://web.wsu.edu
 Template:       spine
 Version:        0.0.1
*/
